{% extends 'base.html' %}
{% block title %}Новини{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% for news in news_list %}
                    <div class="news">
                        <a href="{% url 'testing:news-detail' news.slug %}"><h3>{{ news.title }}</h3></a>
                        <p>{{ news.text|truncatechars:500 }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}