img.win {
    position: absolute;
    bottom:0;
    left:5%;
    z-index:-10;
}

.btn-cto {
    position: absolute;
    right:10%;
    bottom:10%;
    height:50px;
    width:300px;
    font-size:20px;
    font-family: Roboto, sans-serif;
}