a {
    text-decoration: none;
    color: inherit;
}

.main-nav {
    background-color: #9ACFFF;
    width: 90%;
    position: fixed;
    top: 50px;
    left: 5%;
    height: 120px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main-nav img {
    height: 80px;
    cursor: pointer;
}

.container {
    padding-top: 200px;
}

.btn-blue {
    background-color: #9ACFFF;
    color: white;
    border-radius: 30px;
    height: 40px;
    width: 250px;
}

.btn-blue:hover {
    background-color: #A44343;
    color: white;
}

.side-menu {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu .check-tests {
    background-color: #9ACFFF;
    width: 70px;
    height: 70px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

nav .nav-left {
    position: absolute;
    left:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.auth-btn {
    color:white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-right:40px;
    cursor: pointer;
}
.auth-btn img {
    margin-bottom:5px;
    max-height:30px;
}