form input {
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
}

form input:focus {
    outline: none;
    border: 3px solid black;
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form hr {
    height:5px;
    color: black;
    width:75%;
}

form .btn-dark {
    margin-top: 20px;
    border-radius: 20px;
    width:50%;
}

form .btn-dark:hover {
    background-color: white;
    color:black;
}